<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <link rel="stylesheet" href="./css/dashboard.css">
        <title> Dashboard </title>
    </head>
<body>
    <h1>Admin dashboard </h1>
    <div class="parent">
        <button>
            <a href="cows">Show Cow</a>
            <span></span>
        </button>
        <button>
            <a href="register-cow">Cow registration</a>
            <span></span>
        </button>
        <button>
            <a href="new-birth">New birth  registration </a>
            <span></span>
        </button>
        <button>
            <a href="register-milk">Milk registration </a>
            <span></span>
        </button>
        <button>
            <a href="register-medical-exam"> Medical exam registration </a>
            <span></span>
        </button>            
    </div>
</body> 
</html>